.container {
    max-width: 100%;
    margin: 3.1% 19.2%;
    background: #FFF4EE;
    padding: 2.1% 5.2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* display: none; */
}

.h2 {
    color: #444B58;
}

.h4 {
    color: #808080;
}

.h3 {
    color: #444B58;
    padding-bottom: 10px;
}

.checkbox {
    border: 1px solid #DBBBA9;
    width: 24px;
    height: 24px;
    border-radius: 4px 0px 0px 0px;
    background-color: #FFF4EE;
    accent-color: #DBBBA9;
}

.img {
    width: 280px;
    height: 120px;
}
.all_blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.choice {
    display: flex;
    gap: 10px;
    align-items: center;
}

.button_next {
    margin-top: 20px;
    padding: 22px 42px 22px 42px;
    gap: 10px;
    background: #FFF4EE;
    border: 1px solid #444B58;
    color: #444B58;
    float: right;
}

.active{
    display: none;
}

.border {
    padding: 20px 0px 20px 0px;
    border-bottom:  1px solid #808080;
    border-top: 1px solid #808080;
}

.block_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block_footer h4{
    color: #808080;
}

@media (max-width: 1160px) {

    .all_blocks{
        justify-content: center;
    }

    .h2 {
        font-size: 26px;
    }
    
    .h4 {
        font-size: 14px;
    }
    
    .h3 {
        font-size: 20px;
    }

}

@media (max-width: 970px) {

    .h2 {
        font-size: 24px;
        line-height: 1.1;
    }
    
    .h3 {
        font-size: 18px;
    }

    .button_next {
        padding: 11px 21px 11px 21px;
    }

}

@media (max-width: 520px) {

    .h2 {
        font-size: 20px;
        line-height: 1.1;
    }
    
    .h3 {
        font-size: 16px;
    }

    .button_next {
        padding: 5px 10px;
        font-size: 14px;
    }

    .img {
        width: 100%;
        height: 100%;
    }

}