.logoname{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.logoin {
    max-width: 157px;
}

.imgsmall{
    max-width: 157.5px;
}

.block1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content{
    display: flex;
    gap: 15px;
}

.imgbig {
    width: 332px;
}
