.container {
    background-color:  #484283;
    color: #ffff;
    max-width: 100%;
    padding: 5.2% 19.2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url("../../images/Hero/back-text.png");
    background-repeat: no-repeat;
    background-size: 51%;
    background-position: center;
    margin: 0 auto;
  }

h1 {
    max-width: 560px;
}

.h4 {
    max-width: 480px;
}

button {
    max-width: 250px;
    height: 60px;
    background: #F14F4F;
    color: #ffff;
    border: none;
    width: Hug (250px)px;
    border-radius: 4px;
    font-family: "IntroRegular";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 20px;
}

@media (max-width: 635px) {
    h1 {
        font-size: 28px;
    }
}

@media (max-width: 500px) {
    .container {
    background-image: none;
    }
    h1 {
        font-size: 26px;
    }

    .h4 {
        font-size: 14px;
    }
}

@media (max-width: 470px) {
    h1 {
        font-size: 24px;
    }
}

@media (max-width: 427px) {
    h1 {
        font-size: 22px;
    }
    .h4 {
        font-size: 12px;
    }
}

@media (max-width: 393px) {
    h1 {
        font-size: 20px;
    }
}