.container {
    background-color:  #484283;
    color: #ffff;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    padding: 0% 19.2%;
    background-image: url("../../images/AboutUs/figure.svg");
    background-repeat: no-repeat;
    background-position: left top;
    gap: 53px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 11.6% 0% 8.2% 0%;
}

.line {
    max-width: 30px;
    max-height: 3px;
    opacity: 0px;
}

h5 {
    font-family: "IntroBold";
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
}

.sign {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 425px;
}

.men {
    height: 100%;
}


@media (max-width: 1250px) {
    .container {
        background-size: 35%;
    }


    .men {
        display: none;
    }

    .sign {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding-bottom: 8.2%;
    }
}