.card {
    max-width: 280px;
    height: fit-content;
}
img {
    border-radius: 4px;
    width: 280px;
    object-fit: cover;
}

.price {
    font-family: "IntroRegular";
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin-top: 10px;
  }

.price::after {
    content: " р";
}