.container {
    max-width: 380px;
    max-height: 402px;
    background: #484283;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding: 20px;
}

.h2 {
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

.h4 {
    max-width: 100%;
    color: white;
    padding: 0px 40px;
    padding-bottom: 40px;
}

.input {
    margin-bottom: 10px;
    padding: 19px;
    max-width: 100%;
    max-height: 60px;
    border-radius: 4px;
    display: flex;
    width: 100%;
}

.button {
    padding: 22px 128px;
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 0px;
}

.button:hover {
    cursor: pointer;
}

@media (max-width: 420px) {
    .container {
        max-width: 355px;
    }
}