.container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 3.6% 0%;
    padding: 0% 19.2%;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1720px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0% 2.5%;
    }
}