.menu {
    display: flex;
    align-self: center;
    font-family: "IntroBook";
    font-size: 14px;
    font-weight: 400;
    gap: 40px;
    color: white;
    height: 1;
}

@media (max-width: 1730px){
    .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

}